.alt{
    padding-top: 3%;
    margin: 0;
}
.inner{
    padding-left: 2%;
}


.btn{
    box-shadow: 3px 4px 0px 0px #899599;
	background-color:#fff;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer; 
	color:gray;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.popup .overlay{
    position: fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content{
    display: flex;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: #fff;
    width: 75%;
    height: 75%;
    z-index: 2;
    box-sizing: content-box;
    text-align: center;
}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right:10px;
    border-radius:50%;
    background-color: #000;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    font-size: 25px;
    z-index: 2;
}

.popup .gif{
    position: relative;
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.popup #p1-gif{
    background-image: url("../../images/p1demo2x.gif");
    background-size: contain;
}

.popup .content .side-panel{
    position: relative;
    width: 20%;
    height: 100%;
    background-color:transparent;
    overflow:auto;
    padding-top: 15%;
}
.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transform: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}


.card-flip-wrapper{
    display: block;
    position: relative;
    width: 250px;
    height: 300px;
}

.card-flip-wrapper .card{
    /* background-color: purple; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    box-shadow:0 0 15px rgba(0,0,0,.3) ;
    
}
.card-flip-wrapper:hover .card{
    transform: rotateY(180deg);
}

.card-flip-wrapper .the-back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

.card-flip-wrapper .the-front{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
}

.card-flip-wrapper .front-text-wrapper{
    position: absolute;
    width: 100%;
    height: 75%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-shadow: #fff;
    line-height:120%;
}

.card-flip-wrapper .background{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 22%, 0 27%);
}

.card-flip-wrapper .card-header{
    font-size: 44px;
	-webkit-text-stroke: 1px #F8F8F8;
}

.card-flip-wrapper .front-header{
    color: #fff;
}

.card-flip-wrapper .back-text-wrapper{
    padding-top: 5%;
    line-height:120%;
}

.card-flip-wrapper .back-header{
    color: #fff;
}

.card-flip-wrapper .quick-demo-btn{
    position: absolute;
    bottom: 5%;
    transform: translate(-50%);
    /* margin-top:-20px; */
}

.card-flip-wrapper .alt{
    font-size: smaller;
    text-align: center;
    width: 100%;
}


#p1-background{
    background: url("../../images/money.jpg");
    background-size: contain;
}

#p1-card .card-header{
	text-shadow: 0px 2px 4px #678f52;
}

#p1-card .the-back{
    background: linear-gradient(to bottom, #42ba96 5%, #fff 100%);
}

#p1-popup-header{
    font-weight: 600;
    color: #42ba96;
    text-align: center;
}

#p1-source-code-btn{
    background:linear-gradient(to bottom, #70c5ac 5%, #42ba96 100%);
    color:#fff;
    font-weight:600;
}

#p2-card .card-header{
    text-shadow: 0px 2px 4px #651C32;
}

#p2-background{
    background: url("../../images/bugs.jpg"); 
    background-size: contain;  
}

#p2-card .the-back{
    background: linear-gradient(to bottom, #BB0000 5%, #fff 100%);
}

#p2-popup-header{
    font-weight: 600;
    color: #BB0000;
    text-align: center;
    text-shadow: 0px 2px 4px #064331;
}

#p2-source-code-btn{
    background:linear-gradient(to bottom, #BB0000 5%, #064331 100%);
    color:#fff;
    font-weight:600;
}

#p3-card .card-header{
    text-shadow: 0px 2px 4px #217AFF;
}

#p3-background{
    background: url("../../images/questionMarks.jpg"); 
    background-size: contain;  
}

#p3-card .the-back{
    background: linear-gradient(to bottom, #217AFF 5%, #fff 100%);
}

#p3-popup-header{
    font-weight: 600;
    color: #651C32;
    text-align: center;
    text-shadow: 0px 2px 4px #0F52BA;
}

#p3-source-code-btn{
    background:linear-gradient(to bottom, #217AFF 5%, #651C32 100%);
    color:#fff;
    font-weight:600;
}